@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-white text-black;
}
html.dark body {
  @apply bg-neutral-900 text-white;
}

@keyframes float {
  0% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0); }
}

html {
  scroll-behavior: smooth;
}

.animate-float {
  animation: float 4s ease-in-out infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient {
  animation: gradient 10s ease infinite;
}
